$color-primary: crimson;
$color-secondary: cornflowerblue;

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}
.navbar {
  height: 56px;
  background: $color-primary;
}
.content {
  height: 100%;
  background: $color-secondary;
}
